<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/template" id="frontend_toolbar">
    <footer>
      <a class="editing-mode">Mode edition</a>
      <a class="save">Sauvegarder</a>
      <a class="cancel">Annuler</a>
      <%= link_to 'Ajouter une page', new_page_path, remote: true %>
    </footer>
  </script>
</head>
<body>

<div id="modalContainer">

</div>

<%= yield %>

</body>
</html>
