<script type="text/template" id="frontend_toolbar">
  <footer>
  <a class="editing-mode">Edition mod</a>
  <a class="save">Save</a>
  <a class="cancel">Cancel</a>
  <% if @page %>
    <%= link_to 'Edit the page', edit_page_path(@page), remote: true %>
    <%= link_to 'Publish',
      publish_page_path(@page),
      method: 'put',
      remote: true %>
    <%= link_to 'Unpublish',
      unpublish_page_path(@page),
      method: 'put',
      remote: true %>
    <%= link_to 'Mark a home page',
      home_page_path(@page),
      remote: true,
      method: 'put',
      confirm: 'Are you sure?' %>
    <%= link_to 'Delete the page',
      page_path(@page),
      method: 'delete',
      confirm: 'Are you sure?' %>
  <% end %>
  <%= link_to 'Create a page', new_page_path, remote: true %>
  </footer>
</script>

<div id="modalContainer"></div>
